app-start {
    
}

$white-color: #000000;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #000000;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
h4 {
    color: #DAA520;
    text-align: center;
}
#gauche{
    float: left;
}
#droite{
}
#bouton{
        display: flex;
}
}