<ion-grid>
	<ion-row>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div>
          <h4>RCTT Tilly</h4>
      </div>
            <div id="bouton">
              <div id="gauche">
                <ion-button size="large" href="/touchid" expand="block" routerLink="/login" routerDirection="root">SE CONNECTER</ion-button>
              </div>
              <div id="droite">
                <ion-button size="large" href="/touchid" expand="block">S'ENREGISTRER</ion-button>
              </div>
            </div>
		</ion-col>
	</ion-row>
</ion-grid>